@import "tailwindcss";

@theme {
  --font-sans: "Geist Sans", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --color-background: #050505;
  --color-surface: #0a0a0a;
  --color-primary: #e5e5e5;
  --color-secondary: #a3a3a3;
  --color-accent: #10b981;
}

@layer base {
  body {
    @apply bg-background text-primary antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
